@page "/editstudent/{id}"
@using SchoolFeeSystem.Shared
@inject IStudents Student
@inject ISnackbar Snackbar
<MudPaper Class="pa-16 " Elevation="3">
    <MudText Typo="Typo.h4">
        <span class="bahij-nassim-bold">د معلوماتو تغیرول</span>
    </MudText>
    <MudForm Model="student" @ref="form">
        <MudGrid>
            <MudItem md="4">
                <MudLocalizedTextField Label="آیډي" Required @bind-Value="student.UnitqueKey" RequiredError="د زده کوونکي آيډي نمبر" ReadOnly />
            </MudItem>
            <MudItem md="4">
                <MudLocalizedNumericField @bind-Value="student.RegNo" Label="اساس نمبر" />
            </MudItem>
            <MudItem md="4">
                <MudLocalizedTextField Label="نوم" @bind-Value="student.FirstName" Required RequiredError="نوم حتمي دی " />
            </MudItem>
            <MudItem md="4">
                <MudLocalizedTextField Label="د پلار نوم" @bind-Value="student.FatherName" Required RequiredError="د پلار نوم حتمي دی " />
            </MudItem>
            <MudItem md="4">
                <MudGrid>
                    <MudLocalizedDatePicker Label="د زېږېدو نېټه" @bind-value="student.DOB" />
                </MudGrid>
            </MudItem>
            <MudItem md="4">
                <MudLocalizedTextField Label="د نیکه نوم" @bind-Value="student.GrandFatherName" />
            </MudItem>
            <MudItem md="4">
                <MudRadioGroup T="bool" @bind-Value="student.Gender">
                    <MudRadio Value="true" Color="Color.Primary">نارینه</MudRadio>
                    <MudRadio Value="false" Color="Color.Secondary">ښځینه</MudRadio>
                </MudRadioGroup>
            </MudItem>
            <MudItem md="4">
                <MudLocalizedTextField Label="تذکره " @bind-Value="student.TazkiraNo" />
            </MudItem>
            <MudItem md="4">
                <MudSelect Label="د ویني ګروپ " @bind-Value="student.BloodGroup">
                    <MudSelectItem Value="@("A+")" />
                    <MudSelectItem Value="@("A-")" />
                    <MudSelectItem Value="@("B+")" />
                    <MudSelectItem Value="@("B-")" />
                    <MudSelectItem Value="@("O+")" />
                    <MudSelectItem Value="@("O-")" />
                    <MudSelectItem Value="@("AB+")" />
                    <MudSelectItem Value="@("AB-")" />
                </MudSelect>
            </MudItem>
            <MudItem md="4">
                <MudLocalizedTextField Label="موبایل شمېره " @bind-Value="student.PersonalPhone" />
            </MudItem>
            <MudItem md="4">
                <MudLocalizedTextField Label="کورنۍ شمېره " @bind-Value="student.ParentPhone" />
            </MudItem>
            <MudItem md="4" xs="12">
                <MudFileUpload T="IBrowserFile" Accept=".jpg">
                    <ButtonTemplate>
                        <MudButton HtmlTag="label"
                                   Variant="Variant.Filled"
                                   Color="Color.Primary"
                                   StartIcon="@Icons.Material.Filled.CloudUpload"
                                   for="@context.Id">
                            عکس انتخاب کړی
                        </MudButton>
                    </ButtonTemplate>
                </MudFileUpload>
            </MudItem>
        </MudGrid>
        <MudPaper Class="my-8" Elevation="0">
            <MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="_processing" OnClick="OnSubmitForm">
                @if (_processing)
                {
                    <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                    <MudText Class="ms-2">ثبت</MudText>
                }
                else
                {
                    <MudText>ثبت</MudText>
                }
            </MudButton>
        </MudPaper>
    </MudForm>
</MudPaper>
@code {
    [Parameter]
    public object id { get; set; }
    private Entities.Student student = new();
    MudForm form;
    private bool _processing = false;
    protected override async Task OnInitializedAsync()
    {
        if (id != null)
        {
            var response = await Student.GetStudent(Convert.ToInt32(id));
            if (response.IsSuccess)
            {
                student = response.Data;
                StateHasChanged();
            }
        }
    }
    async Task OnSubmitForm()
    {
        await form.Validate();
        if (form.IsValid)
        {
            _processing = true;
            var added = await Student.UpdateStudent(student, Convert.ToInt32(id));
            Snackbar.Add(
                added.IsSuccess ? added.Message : "زده کوونکی تغیر نه سو",
                added.IsSuccess ? Severity.Success : Severity.Error);
            await form.ResetAsync();
            _processing = false;
        }
    }

}