@page "/students"
@inject IDialogService DialogService
@inject NavigationManager Navigation
@inject IStudents Students
<MudStack Class="pa-6">
    <MudPaper Class="pa-3">
        <MudForm>
            <MudGrid>
                <MudItem>
                    <MudLocalizedSelect Label="پلټني ډول" @bind-Value="searchType">
                        <MudSelectItem Value="0">آیډی</MudSelectItem>
                        <MudSelectItem Value="1">نوم</MudSelectItem>
                        <MudSelectItem Value="2">د پلار نوم</MudSelectItem>
                        <MudSelectItem Value="3">د نیکه نوم</MudSelectItem>
                        <MudSelectItem Value="4">موبایل</MudSelectItem>
                        <MudSelectItem Value="5">تذکره</MudSelectItem>
                        <MudSelectItem Value="6">اساس نمبر</MudSelectItem>
                        <MudSelectItem Value="7">ولدینو موبایل شمېره</MudSelectItem>
                    </MudLocalizedSelect>
                </MudItem>
                <MudItem>
                    <MudLocalizedTextField @bind-Value="keywords" Label="پلټنه" Variant="Variant.Outlined" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Search" AdornmentColor="Color.Secondary" Margin="Margin.Dense" />
                </MudItem>
                <MudItem>
                    <MudButton Disabled="@_processing" OnClick="SearchingStudent" Variant="Variant.Filled" Color="Color.Primary">
                        @if (_processing)
                        {
                            <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                            <MudText Class="ms-2">پلټنه</MudText>
                        }
                        else
                        {
                            <MudText>پلټنه</MudText>
                        }
                    </MudButton>
                </MudItem>
                <MudItem>
                    <MudButton Href="/newstudent" Variant="Variant.Filled" Color="Color.Primary">نوی زده کوونکی</MudButton>
                </MudItem>
            </MudGrid>
        </MudForm>
    </MudPaper>
    <MudPaper Class="pa-3">

        <MudTable Dense Items="@students" Hover Breakpoint="Breakpoint.Sm" Loading="_loading" LoadingProgressColor="Color.Info">
            <HeaderContent>
                <MudTh>آیډي</MudTh>
                <MudTh>اساس</MudTh>
                <MudTh>مکمل نوم</MudTh>
                <MudTh>د پلار نوم</MudTh>
                <MudTh>د نیکه نوم</MudTh>
                <MudTh>جنسیت</MudTh>
                <MudTh>تذکره</MudTh>
                <MudTh>ټرانسپورټ فیس</MudTh>
                <MudTh>موبایل شمېره</MudTh>
                <MudTh>والیدینو موبایل شمېره</MudTh>
                <MudTh>عملیه</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="آیډي">@context.UnitqueKey</MudTd>
                <MudTd DataLabel="اساس">@context.RegNo</MudTd>
                <MudTd DataLabel="مکمل نوم">@context.FirstName</MudTd>
                <MudTd DataLabel="د پلار نوم">@context.FatherName</MudTd>
                <MudTd DataLabel="د نیکه نوم">@context.GrandFatherName</MudTd>
                <MudTd DataLabel="جنسیت">
                    @GetGender(context.Gender)
                </MudTd>
                <MudTd DataLabel="تذکره">@context.TazkiraNo</MudTd>
                <MudTd DataLabel="ټرانسپورټ فیس">@context.TransportationFees</MudTd>
                <MudTd DataLabel="موبایل شمېره">@context.PersonalPhone</MudTd>
                <MudTd DataLabel="والیدینو موبایل شمېره">@context.ParentPhone</MudTd>
                <MudTd DataLabel="عملیه">
                    <MudMenu Icon="@Icons.Material.Filled.MoreVert">
                        <MudMenuItem OnClick="@(() => NavigateTo(context.Id))">
                            <span class="bahij-nassim-regular">تغیر</span>
                        </MudMenuItem>
                        <MudMenuItem OnClick="@(() => ShowDiaog(context.Id))">
                            <span class="bahij-nassim-regular">غیر فعال</span>
                        </MudMenuItem>
                    </MudMenu>
                </MudTd>
            </RowTemplate>
            <NoRecordsContent>
                <MudText>زده کوونکی پیدا نه سو</MudText>
            </NoRecordsContent>
            <LoadingContent>
                <MudText>انتظار سئ...</MudText>
            </LoadingContent>
        </MudTable>

    </MudPaper>
</MudStack>