@page "/classes"
@inject IClass Class
@inject IBranch Branch
@inject ISnackbar Snackbar
@inject NavigationManager Navigation
<MudPaper Class="ma-16" Elevation="0">
    <MudGrid >
        <MudItem md="6" lg="6">
            <MudPaper Class="pa-4">
                <MudForm @ref="form" Model="model">
                    <MudStack>
                        <MudLocalizedTextField @bind-Value="model.Name" Label="ټولګۍ نوم" Required RequiredError="ټولګۍ نوم حتمي دی" />
                        <MudLocalizedTextField @bind-Value="model.ClassTiming" Label="ټولګۍ وخت" />
                        <MudLocalizedNumericField @bind-Value="model.FeeAmount" Label="ټولکۍ فیس" Min="0" />
                        <MudLocalizedSelect @bind-Value="model.BranchId" Label="څانګه">
                            @foreach (var item in branches)
                            {
                                <MudSelectItem Value="item.Id">@item.Name</MudSelectItem>
                            } 
                        </MudLocalizedSelect>
                        <MudGrid>
                            <MudItem>
                                <MudButton Variant="Variant.Filled" Disabled="_processing" Class="bahij-nassim-regular" OnClick="OnSubmit" Color="Color.Primary">
                                    @if (_processing)
                                    {
                                        <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                                        <MudText Class="ms-2">ثبت</MudText>
                                    }
                                    else
                                    {
                                        <MudText>ثبت</MudText>
                                    }
                                </MudButton>
                            </MudItem>
                            <MudItem>
                                <MudButton Variant="Variant.Filled" Class="bahij-nassim-regular" Color="Color.Secondary">لغوه</MudButton>
                            </MudItem>
                        </MudGrid>
                    </MudStack>
                </MudForm>
            </MudPaper>
        </MudItem>
        <MudItem md="6" lg="6">
            <MudPaper Elevation="0">
                <MudTable Hover Items="classes" Loading="_loading" Dense>
                    <HeaderContent >
                        <MudTh>شمېره</MudTh>
                        <MudTh>ټولګی</MudTh>
                        <MudTh>څانګه</MudTh>
                        <MudTh>فیس مبلغ</MudTh>
                        <MudTh>عملیه</MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd DataLabel="شمېره">@context.Id</MudTd>
                        <MudTd DataLabel="ټولګی">@context.Name</MudTd>
                        <MudTd DataLabel="څانګه">@context.Branch.Name</MudTd>
                        <MudTd DataLabel="فیس مبلغ">@context.FeeAmount</MudTd>
                        <td>
                            <MudMenu Icon="@Icons.Material.Filled.MoreVert">
                                <MudMenuItem OnClick="(() => OnEdit(context.Id))"><span class="bahij-nassim-regular">تغیر</span></MudMenuItem>
                                <MudMenuItem OnClick="(() => OnCheckStudents(context.Id))"><span class="bahij-nassim-regular">زده کوونکي</span></MudMenuItem>
                            </MudMenu>
                        </td>
                    </RowTemplate>
                </MudTable>
            </MudPaper>
        </MudItem>
    </MudGrid>
</MudPaper>